<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>This email confirms your purchase of OPS Walk & Run ticket(s)</p>

    <p>Your raffle ticket #(s) is/are:</p>

    <div style='background-color: #0D7381; height: 80px; text-align: center;'>
      <p style='color: white; line-height: 70px;'>
        <%= @transaction.tickets.map {|t| t.number} %>
      </p>
    </div>

    <p>Skill testing question required.</p>

    <p>Thanks,</p>

    <p>OPS Walk & Run</p>
  </body>
</html>
