<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>This email confirms your purchase of OPS Walk & Run ticket(s)</p>

    <p>Your raffle ticket #(s) is/are <b><%= @transaction.tickets.map {|t| t.number} %></b></p>

    <p>Thanks,</p>

    <p>OPS Walk & Run</p>
  </body>
</html>
