<div class="left-align-wrap">
  <h2 class="left-text">Bank Deposit Instructions</h2>

  <p class="left-text">
    We request that all funds from the sale of the raffle tickets be directly deposited into the OPS Walk & Run TD Canada Trust bank account.
  </p>

  <p class="left-text">
    Follow the steps below:
  </p>

  <p class="left-text">
    1. Go to any TD Canada Trust branch in Ontario. Use the branch locator site to find a nearest location:
  </p>

  <p class="left-text" style="padding-left: 15px;">
    <b><%= link_to 'Branch Locator', 'https://www.tdcanadatrust.com/customer-service/contact-us/branch-locator/', target:'_blank' %></b>
  </p>

  <p class="left-text">
     2. Deposit the money collected into the OPS Walk & Run TD Canada Trust bank account. Provide the following information to the teller:
   </p>

  <ul class="left-text" style="padding-left: 30px; list-style: circle;">
    <li>Account #: 5228205</li>
    <li>Branch #: 1224</li>
    <li>Bank account: OPS Walk & Run for United Way</li>
  </ul>

  <p class="left-text">
    1. If you do not have a TD Canada Trust branch located near you, you can mail in a cheque and the deposit slip.
  </p>

  <div style="padding-left: 15px;">
    <p class="left-text">
      The cheque should be made payable to: <b>OPS Walk & Run for United Way</b>
    </p>

    <ul class="left-text">
      <li><b>Mailing Address:</b></li>
      <li>ATTN: Janet Lim</li>
      <li>56 Wellesley St West, 4th floor</li>
      <li>Toronto, ON M5S 2S3</li>
      <li>janet.lim@ontario.ca</li>
    </ul>
  </div>
</div>
