<div class="left-align-wrap">
  <h2 class="left-text">Bank Deposit Instructions</h2>

  <p class="left-text">
    Deposit the money collected into the OPS Walk & Run TD Canada Trust bank account.
  </p>

  <p class="left-text">
    Go to any TD Canada Trust branch and deposit the cash with the following information:
  </p>

  <ul class="left-text">
    <li>Account #: 5228205</li>
    <li>Branch #: 1224</li>
    <li>Bank account: OPS Walk & Run for United Way</li>
  </ul>

  <p class="left-text">To look up your nearest location visit:</p>

  <p class="left-text">
    <b><%= link_to 'Branch Locator', 'https://www.tdcanadatrust.com/customer-service/contact-us/branch-locator/', target:'_blank' %></b>
  </p>

  <p class="left-text">
    If you do not have a TD Canada Trust branch located near you, you can mail
    in a cheque made payable to: <b>OPS Walk & Run for United Way Mailing Address:</b>
  </p>

  <ul class="left-text">
    <li>ATTN: Natasha Rajamani</li>
    <li>56 Wellesley St West, 4th floor</li>
    <li>Toronto, ON M5S 2S3</li>
    <li>Natasha.Rajamani@ontario.ca</li>
  </ul>

  <p class="left-text" id='red'>
    <b>* DRAW WILL TAKE PLACE ON OCTOBER 31st. WINNER WILL BE NOTIFIED VIA EMAIL AND POSTED ONLINE.</b>
  </p>
</div>
