<div class="left-align-wrap">
  <h4 class='left-text'>Welcome to the OPS WalkRun Raffle Tracker</h4>

  <h4 class='left-text'>
    This application will alow you as a Coordinator to more efficiently and accurately track raffle ticket purchases.
  </h4><br />

  <%= link_to 'Get Started', user_url(current_user), class:'submit', style:'text-align: center;' %>
</div>
