<div style="margin-bottom: 30px;">
  <h4 class='center-text'>Welcome to the OPS Raffle App!</h4>

  <%= link_to 'Get Started', user_url(current_user), class:'submit', style:'text-align: center;' %>
</div>
