<div class="left-align-wrap" style="margin-bottom: 30px;">
  <h4>Welcome to the OPS Raffle App!</h4>

  <h4>Use the navigation links on the <b>top left</b> of the screeen to manage your transactions or account settings</h4>
</div>
