@import "bootstrap-sprockets";
@import 'bootstrap';

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.navbar-default {
  background-color: #0D7381;
}

.nav-link {
  color: #F6AE1C !important;
}

.nav-link:hover {
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: white !important;
  background-color: #0D7381;
}

.navbar-toggle {
  float: left;
}

.container {
  width: 90%;
  text-align: center;
}

.left-align-wrap {
  text-align: left;
  display: inline-block;
}

.alert {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: white;
  float: right;
  margin-bottom: 0;
  font-weight: bold;
}

#error_explanation li {
  color: #b71c1c;
}

#error_explanation h2 {
  font-size: 20px;
  margin-top: 0;
}

.submit,
.cancel {
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 32px;
  border: none;
}

.submit {
  background-color: #F6AE1C;
}

.cancel {
  background-color: #b71c1c;
}

.submit:hover,
.cancel:hover {
  opacity: 0.8;
  color: white;
}
