@import "bootstrap-sprockets";
@import 'bootstrap';

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 14px;
}

.banner {
  width: 100%;
  height: 175px;
}

.navbar-default {
  background-color: #0D7381;
  border: none;
  border-radius: 0;
}

.nav-link {
  color: #F6AE1C !important;
}

.nav-link:hover {
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: white !important;
  background-color: #0D7381;
}

.navbar-toggle {
  float: left;
}

.nav.navbar-nav {
  padding-left: 2%;
}

.container {
  width: 90%;
  text-align: center;
}

.left-align-wrap {
  text-align: left;
  display: inline-block;
}

.row,
.clean-row {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.row {
  border-bottom: solid;
  border-width: 3px;
  border-color: #0D7381;
}

.clean-row {
  border-bottom: none;
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  float: left;
  margin-top: 0;
  padding: 10px;
  display: inline;
  border-right: solid;
  border-width: 3px;
  border-color: #0D7381;
}

.row-field {
  float: left;
  display: inline;
  width: 12.5%;
}

.row-field input {
  padding: 5px;
  margin-top: 5px;
  width: 115px;
}

.row-field input[type="checkbox"] {
  width: 100%;
}

label {
  margin-top: 5px;
}

.row-link {
  font-size: 26px;
  margin-left: 15px;
  margin-right: 15px;
}

.row-link .glyphicon {
  top: 7px;
}

.alert {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: white;
  float: right;
  margin-bottom: 0;
  font-weight: bold;
}

#error_explanation li,
.error-msg {
  color: #b71c1c;
}

#error_explanation h2,
#error_explanation h4 {
  font-size: 20px;
  margin-top: 0;
}

.button-wrap {
  text-align: center;
  margin-bottom: 15px;
}

.submit,
.cancel {
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 32px;
  border: none;
}

.submit {
  background-color: #F6AE1C;
}

.cancel {
  background-color: #b71c1c;
}

#red {
  color: #b71c1c;
}

#red:hover {
  color: #e53935;
}

.submit:hover,
.cancel:hover,
 {
  opacity: 0.8;
  color: white;
}

#italic {
  font-style: italic;
  padding-left: 0;
}

.left-title {
  text-align: left;
  margin-top: 30px;
}

#no-arrows::-webkit-inner-spin-button,
#no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
